**/.project
**/.vs/
**/.vscode/
**/.cr/
**/bin/
**/obj/
**/artifacts/
**/project.lock.json
**/appsettings.Development.json
**/wwwroot/lib/
**/*.xproj.user
**/*.csproj.user
**/aspnet_consul_config.json

# Test results and build logs
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*

# ReSharper
**/_ReSharper*/
**/*.[Rr]e[Ss]harper
**/*.DotSettings.user
